---
import Container from "@components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Naše pokoje",
    path: "#our-rooms",
  },
  {
    title: "Kontakt",
    path: "#contact",
  },
  {
    title: "Rezervovat",
    path: "https://www.booking.com/hotel/cz/apartman-v-krkonosich-cerny-dul.cs.html",
    target: "_blank",
    type: "button",
  },
];
---

<Container>
  <header class="flex flex-col lg:flex-row justify-between items-center my-5">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <span class="font-bold text-slate-800">
            Apartmán
          </span>
          <span class="text-slate-500">
              Andy
          </span>
        </a>

        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>

      <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
        <ul class="flex flex-col lg:flex-row lg:gap-3">
          {
            menuitems.map((item, index) => (
              <li>
                <a
                  href={item.path}
                  target={item.target}
                  class:list={[
                    'flex lg:px-3 py-2 text-gray-600 hover:text-gray-900',
                    item.type === 'button' && 'bg-slate-800 text-white px-3 py-2 rounded-md hover:bg-slate-900 hover:text-white'
                  ]}>
                  {item.title}
                </a>
              </li>
            ))
          }
        </ul>
      </MenuItems>
    </Astronav>
  </header>
</Container>
