---
import { Icon } from "astro-icon";

const features = [
  {
    title: "Parkování zdarma",
    description:
      "Zapomeňte na stres z hledání parkovacího místa. U nás máte možnost využít zdarma parkování v naší moderní kryté podzemní garáži.",
    icon: "bx:bxs-car-garage",
  },
  {
    title: "Pěší turistika",
    description:
      "U nás můžete objevovat krásné pěší turistické trasy přímo z našeho místa a prožít nezapomenutelná dobrodružství v Krkonoších",
    icon: "ic:twotone-hiking",
  },
  {
    title: "Lyžování",
    description:
      "Zažijte dokonalý zimní únik na horách. Naše lokalita je ideálním výchozím bodem pro váš lyžařský dovolený, s blízkým přístupem k sjezdovkám a zimnímu dobrodružství.",
    icon: "ic:outline-downhill-skiing",
  },
  {
    title: "Balkon",
    description:
      "Užijte si svůj pobyt na plno s balkonem, který nabízí úchvatné výhledy na okolní přírodu a horizont.",
    icon: "ic:outline-balcony",
  },
  {
    title: "Wi-Fi zdarma",
    description:
      "Během vašeho pobytu si můžete vychutnávat krásy přírody a zároveň zůstat připojeni k internetu díky naší zcela zdarma dostupné Wi-Fi síti.",
    icon: "ic:twotone-wifi",
  },
  {
    title: "Nekuřácké pokoje",
    description:
      "Vaše pohodlí a zdraví jsou pro nás důležité. Proto je celý náš byt striktně nekuřácký, aby se zde každý cítil svěže a bez cigaretového kouře.",
    icon: "ic:outline-smoke-free",
  },
];
---

<div class="mt-16">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-16">
    {
      features.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">
              {item.description}
            </p>
          </div>
        </div>
      ))
    }
  </div>

  <hr class="my-16" />

  <h3 class="font-semibold text-lg mb-4">Popis</h3>

  <div class="space-y-4">
    <p>
      Apartmán Andy se nachází v lokalitě Krkonoše Čistá - Černý Důl 5 min od lyžařského areálu Černý Důl a 8 min od skiareálu Černá Hora.
      Město Vrchlabí se nachází 8 km od ubytování.
      Vhodná poloha pro milovníky zimních a letních sportovních aktivit.
    </p>

    <p>
      Apartmán nabízí ubytování s výhledem na Krkonoše, zejména pak na Černou Horu .
      Apartmán nabízí: 2 ložnice pro 4 osoby, plně vybavenou kuchyň (myčka, mikrovlnná trouba, sporák, trouba na pečení, lednice, toustovač, konvice, kávovar atd.),
      Koupelnu se sprchovým koutem a pračkou se sušičkou.
      Dále apartmán nabízí sluneční terasu, bezplatnou WI-FI, TV s plochou obrazovkou a streamovacími službami, sušák na prádlo a samozřejmostí je také ložní prádlo a ručníky.
    </p>

    <p>
      Devizou ubytování je soukromá podzemní garáž s lyžárnou a uzamykatelným boxem na lyže.
      Na místě je prostor pro piknik.
    </p>
  </div>
</div>
