---
// @ts-ignore
import Contact from "@pages/contact.astro";
import { Icon } from "astro-icon";

const features = [
  {
    title: "Parkování zdarma",
    description:
      "Zapomeňte na stres z hledání parkovacího místa. U nás máte možnost využít zdarma parkování v naší moderní kryté podzemní garáži.",
    icon: "bx:bxs-car-garage",
  },
  {
    title: "Pěší turistika",
    description:
      "U nás můžete objevovat krásné pěší turistické trasy přímo z našeho místa a prožít nezapomenutelná dobrodružství v Krkonoších",
    icon: "ic:twotone-hiking",
  },
  {
    title: "Lyžování",
    description:
      "Zažijte dokonalý zimní únik na horách. Naše lokalita je ideálním výchozím bodem pro váš lyžařský dovolený, s blízkým přístupem k sjezdovkám a zimnímu dobrodružství.",
    icon: "ic:outline-downhill-skiing",
  },
  {
    title: "Balkon",
    description:
      "Užijte si svůj pobyt na plno s balkonem, který nabízí úchvatné výhledy na okolní přírodu a horizont.",
    icon: "ic:outline-balcony",
  },
  {
    title: "Wi-Fi zdarma",
    description:
      "Během vašeho pobytu si můžete vychutnávat krásy přírody a zároveň zůstat připojeni k internetu díky naší zcela zdarma dostupné Wi-Fi síti.",
    icon: "ic:twotone-wifi",
  },
  {
    title: "Nekuřácké pokoje",
    description:
      "Vaše pohodlí a zdraví jsou pro nás důležité. Proto je celý náš byt striktně nekuřácký, aby se zde každý cítil svěže a bez cigaretového kouře.",
    icon: "ic:outline-smoke-free",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Apartmán v Krkonoších - Černý Důl
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Vítejte v našem horském útočišti v Černém Dole!
  </p>
  <hr>
  <p> Apartmán v Krkonoších - Černý Důl se nachází v Černém Dole, pouhých 15 km od autobusové zastávky Strážné, a nabízí ubytování s výhledem na hory, bezplatné Wi-Fi a neplacené soukromé parkoviště. V okolí se můžete věnovat lyžování, cyklistice a pěší turistice.</p><br>

  <p>Apartmán má 2 ložnice, TV s plochou obrazovkou a streamovacími službami a plně vybavenou kuchyň s myčkou nádobí, sporákem, pračkou, mikrovlnnou troubou a toustovačem. Ložní prádlo a ručníky jsou zajištěny.</p><br>

  <p>Na místě je prostor pro piknik. Apartmán v Krkonoších - Černý Důl má sluneční terasu, zahradu a lyžárnu.</p><br>

  <p>Ubytování je vzdálené 45 km od Babiččina údolí a 48 km od zábavního parku Western City. Letiště Pardubice leží od Apartmánu v Krkonoších - Černý Důl 88 km.</p><br>


  </p>
</div>
<hr>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
  <Contact>
